@mixin themeStyle {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.gameRulesModalTheme {
  @include themeStyle;
  h2,
  h6,
  span {
    @include themeStyle;
  }
}

.list {
  padding-left: 20px;
  margin-top: 5px;
  @include themeStyle;
}
