.number {
  height: 80px;
  width: 80px;
  border: 2px var(--border-color) solid;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  transition: background-color var(--transition-duration);
  color: var(--primary-text-color);
  background-color: var(--tertiary-color);
  user-select: none;
  cursor: default;
}
// TODO: Разобраться, почему не работает так
// .hover:hover {
//   background-color: rgb(167, 253, 167);
// }

[class~='hover']:hover {
  background-color: var(--secondary-color);
}

// TODO: Подумать как сделать более универсальный вариант
.startNumbers {
  background-color: var(--primary-color);
}

.numberChain {
  background-color: var(--secondary-color);
}
