.gameFieldContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.gameField {
  display: grid;
  // grid-template-columns: repeat(8, auto);
  align-self: center;
  box-shadow: var(--box-shadow);
  .column {
    display: flex;
    flex-direction: column;
  }
}
