.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.numberContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
