.gameContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  .number {
    height: 80px;
    width: 80px;
    border: 2px black solid;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
  }
  .gameField {
    display: grid;
    grid-template-columns: repeat(8, auto);
    .column {
      display: flex;
      flex-direction: column;
      .startNumbers {
        background-color: blue;
        color: white;
      }
    }
  }
  .remaningNumbers {
    height: 100px;
    width: 640px;
    overflow: auto;
    border: 2px black solid;
    display: flex;
  }
}
